.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

computer_vision_pipeline/data/
llm_pipeline/data/
openai_vision_pipeline/data/

computer_vision_pipeline/models/
llm_pipeline/models/

*.pt
*.pth
*.ckpt
*.bin
*.safetensors